header
{
  .navbar-fixed
  {
    nav
    {
      background-color: transparent;
      @include box-shadow(none);
      @include transition(all .5s ease-in-out);
      .brand-logo
      {
        font-family: 'Roboto Thin';
        font-size: 1.4em;
        .bold
        {
          font-family: 'Roboto';
        }
      }
      ul a, .brand-logo, .button-collapse
      {
        @extend .green-text;
      }
      &.notTop
      {
        @extend .grey, .darken-4;
        @extend .z-depth-1;
      }
    }
  }
}


