header
{
  .navbar-fixed
  {
    z-index: 5;
    &.notTop
    {
      z-index: 998;
    }
    nav
    {
      background-color: transparent;
      @include box-shadow(none);
      @include transition(all .5s ease-in-out);
      .brand-logo
      {
        font-family: 'Roboto Thin';
        font-size: 1.4em;
        .bold
        {
          font-family: 'Roboto';
        }
      }
      ul a, .brand-logo
      {
        //color: white;
        @extend .green-text;
      }
      .button-collapse
      {
        color: #26a69a;
      }
      &.notTop
      {
        @extend .grey, .darken-4;
        @extend .z-depth-1;
      }
      .nav-mobile
      {
        z-index: 998;
      }
    }
  }
}


