@include gwf("Roboto");

nav ul a,
nav .brand-logo {
  color: #444;
}

footer.page-footer
{
  margin: 0;
  .social-container
  {
    .list-unstyled
    {
      padding-left: 0;
      list-style: none;
    }
    .list-inline li
    {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .footer-copyright
  {
    .fa-heart
    {
      color: #e74c3c;
    }
  }
}