$primary-color: #4CAF50;

@import "compass/css3/selection";
@include scrollbar(.5em, $primary-color);
@include gwf("Material+Icons");
@include gwf("VT323");

*
{
  @include selection(scale-color($primary-color, $lightness: 15%), #fff);
}

#index-banner
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; bottom: 0; right: 0; left: 0;
  background: #121010;
  .section
  {
    display: block;
    margin: 0 auto;
    width: 100%;
    .top
    {
      height: 33%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      padding-top: 64px;
      img
      {
        height: 100%;
        display: block;
        cursor: pointer;
        @extend .z-depth-1;
        @include border-radius(50%);
        &.glitch-img
        {
          &:hover
          {
            @include filter(url("#glitch"));
          }
        }
      }
    }
    .middle
    {
      height: 33%;
      width: 100%;
      display: block;
      position: absolute;
      top: 33%;
      @media #{$small-and-down}
      {
        height: 50%;
      }
      .valign-wrapper
      {
        height: 100%;
        #typed-text
        {
          width: 70%;
          @media #{$small-and-down}
          {
            width: 90%;
            font-size: 1.9rem;
          }
          @media #{$medium-only}
          {
            width: 85%;
            font-size: 2.1rem;
          }
          margin: auto;
          @extend .green-text;
          line-height: 1.5em;
          font-family: VT323;
          a
          {
            @extend .green-text;
            font-weight: bold;
          }
        }
      }
    }
    .bottom
    {
      height: 33%;
      width: 100%;
      position: absolute;
      top: 66%;
      width: 100%;
      @media #{$small-and-down}
      {
        height: 17%;
        top: 83%;
      }
      .valign-wrapper
      {
        height: 100%;
        #page-scroll
        {
          width: 100%;
          i
          {
            &:hover
            {
              @include filter(url("#glitch"));
            }
          }
        }
      }
    }
  }
}

#content
{
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

.section-header
{
  padding-left: 20px;
  @media #{$medium-and-up}
  {
    padding-left: 40px;
  }
  height: 140px;
  @extend .grey, .darken-3;
  @extend .white-text;
  @extend .z-depth-2;
  h2
  {
    margin: 0;
    font-size: 4rem;
    @media #{$small-and-down}
    {
      font-size: 2.5rem;
    }
    i
    {
      font-size: 4rem;
      vertical-align: top;
      @media #{$small-and-down}
      {
        font-size: 2.5rem;
      }
    }
  }
}

.section-body
{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  @media #{$medium-and-up}
  {
    padding-left: 40px;
  }
  .content-section
  {
    margin: 20px 0;
    .content-section-body-top
    {
      @import "compass/css3/flexbox";
      @include display-flex;
      @include align-items(center);
      @include box-sizing(border-box);
      .content-section-logo
      {
        margin-right: 20px;
      }
      .content-section-title
      {
        padding-right: 20px;
        border-right: 1px solid #d3d3d3;
        font-size: 2rem;
        @media #{$small-and-down}
        {
          font-size: 1rem;
        }
        font-weight: 700;
        small
        {
          font-weight: 400;
          @extend .grey-text, .text-darken-3;
        }
      }
      .content-section-date
      {
        margin-left: 5px;
        font-size: 1.6em;
        @media #{$small-and-down}
        {
          font-size: 1rem;
        }
        font-weight: 700;
        @extend .grey-text, .text-darken-1;
        @include flex(1 0 auto);
        @include box-sizing(border-box);
        @include display-flex;
        @include justify-content(flex-end);
      }
    }
    .content-section-body-subtitle
    {
      font-weight: 500;
      @extend .right-align;
      @extend .purple-text;
    }
    .content-section-body
    {
      padding: 10px 0;
      border-bottom: 1px solid #d3d3d3;
      font-weight: 500;
    }
  }
}

section#experience
{

}

footer.page-footer
{
  margin: 0;
  .social-container
  {
    .list-unstyled
    {
      padding-left: 0;
      list-style: none;
    }
    .list-inline li
    {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .footer-copyright
  {
    .fa-heart
    {
      color: #e74c3c;
    }
  }
}
