@include gwf("Roboto");
@include gwf("Material+Icons");

nav ul a,
nav .brand-logo {
  color: #444;
}

#index-banner
{
  height: 100%;
  width: 100%;
  top: 0; bottom: 0; right: 0; left: 0;
  position: absolute;
  background-size: cover;
  background-color: black;
  background-position: 50% 50%;
  .section
  {
    display: block;
    margin: 0 auto;
    z-index: 30;
  }
}

#content
{
  position: absolute;
  top: 100%;
  width: 100%;
}

footer.page-footer
{
  margin: 0;
  .social-container
  {
    .list-unstyled
    {
      padding-left: 0;
      list-style: none;
    }
    .list-inline li
    {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .footer-copyright
  {
    .fa-heart
    {
      color: #e74c3c;
    }
  }
}

.overlay
{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.overlay-1
{
  @extend .overlay;
  background: url("../img/scanlines.png");
  z-index: 10;
  opacity: 0.4;
}
.overlay-2
{
  @extend .overlay;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
  opacity: 0.4;
}
